<div class="ui fixed inverted menu">
    <div class="ui container">
        <a routerLink="/surveys" routerLinkActive="active"  class="ui header item">
            <img src="/assets/images/logo.png" class="logo">
            Ankete
        </a>

        <a
                *ngIf="currentUserPermission >= userPermissions.author"
                routerLink="/my-surveys" routerLinkActive="active"
                class="ui header item"
        > Moje ankete </a>

        <a
                *ngIf="currentUserPermission >= userPermissions.author"
                routerLink="/new-survey" routerLinkActive="active"
                class="ui header item"
        > Nova anketa </a>

        <a
                *ngIf="currentUserPermission == userPermissions.administrator"
                routerLink="/registrations" routerLinkActive="active"
                class="ui header item"
        > Registracije </a>

        <a
                *ngIf="currentUserPermission == userPermissions.administrator"
                routerLink="/users" routerLinkActive="active"
                class="ui header item"
        > Korisnici </a>

        <a
                *ngIf="currentUserPermission == userPermissions.administrator"
                routerLink="/create-user" routerLinkActive="active"
                class="ui header item"
        > Novi korisnik </a>


        <div class="ui right floated item">
            <button
                    *ngIf="currentUserPermission > userPermissions.anonymous"
                    class="ui item icon user-settings button"
                    (click)="changePassword()"
            >
                <i class="big icons">
                    <i class="user icon"></i>
                    <i class="inverted corner setting icon"></i>
                </i>
            </button>

            <button
                    *ngIf="currentUserPermission > userPermissions.anonymous"
                    class="ui item icon logout button"
                    (click)="logout()"
            > <i class="power big icon"></i> </button>
        </div>
    </div>
</div>