.ui.sortable.table thead th.action-header:hover {
    background: none;
}

.ui.sortable.table thead th.action-header {
    cursor: default;
}

.ui.basic.buttons {
    border: none;
}

.ui.basic.buttons .button{
    border: none;
}

.button.noedit {
    opacity: .45;
}