<table class="ui very basic sortable celled table" *ngIf="surveys.length">
    <thead><tr>
        <th
                (click)="sort('name')"
                [class.sorted]="sortField=='name'"
                [class.ascending]="sortDirection==1"
                [class.descending]="sortDirection==-1"
        >Naziv</th>
        <th
                (click)="sort('start')"
                [class.sorted]="sortField=='start'"
                [class.ascending]="sortDirection==1"
                [class.descending]="sortDirection==-1"
        >Početak</th>
        <th
                (click)="sort('end')"
                [class.sorted]="sortField=='end'"
                [class.ascending]="sortDirection==1"
                [class.descending]="sortDirection==-1"
        >Kraj</th>
        <th *ngIf="showActionColumn" class="action-header"></th>
    </tr></thead>
    <tbody>
        <tr *ngFor="let survey of surveys" class="survey">
            <td><a [routerLink]="['/survey', survey.id, 'info']">{{survey.name}}</a></td>
            <td>{{survey.start | date:'d. M. y.'}}</td>
            <td>{{survey.end | date:'d. M. y.'}}</td>
            <td *ngIf="showActionColumn">
                <div class="ui small basic icon buttons">
                    <button class="ui button" (click)="goToSurveyProxy(survey.id)" data-content="Popuni kao službenik">
                        <i class="add user icon"></i>
                    </button>
                    <button class="ui delete button" (click)="deleteSurvey(survey.id)" data-content="Obriši anketu">
                        <i class="remove icon"></i>
                    </button>
                    <button
                            class="ui button"
                            [class.noedit]="!survey.canEdit"
                            (click)="editSurvey(survey.id)"
                            [attr.data-content]="survey.canEdit ? 'Izmeni anketu' : 'Menjanje nije moguće posle početka ankete'"
                    >
                        <i class="write icon"></i>
                    </button>
                    <button class="ui button" (click)="goToSurveyResults(survey.id)" data-content="Rezultati ankete">
                        <i class="tasks icon"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
