<form
        [formGroup]="questionFormGroup"
        (ngSubmit)="submit(questionFormGroup.value)"
        class="ui form"
        [class.error]="!formValid"
>
    <div class="ui clearing segment">
        <!-- Type field -->
        <form-error [error]="questionServiceError" *ngIf="questionServiceError"></form-error>
        <div class="field">
            <label> Tip: </label>
            <select class="ui dropdown question-type" name="type" [formControl]="typeControl">
                <option value="">Tip</option>
                <option *ngFor="let typeOption of typeOptions" [value]="typeOption.value">
                    {{typeOption.name}}
                </option>
            </select>
            <div
                    *ngIf="typeControl.hasError('required')"
                    class="ui mini error message question-type"
            > Izaberite tip pitanja. </div>
        </div>

        <!-- Text field -->
        <div class="field">
            <label> Tekst: </label>
            <input class="question-text" type="text" name="text" placeholder="Tekst" [formControl]="textControl">
            <div
                    *ngIf="textControl.hasError('required')"
                    class="ui mini error message question-text"
            > Unesite tekst pitanja. </div>
        </div>

        <!-- Required field -->
        <div class="ui checkbox">
            <input type="checkbox" formControlName="required" name="required" class="question-required">
            <label> Obavezno pitanje </label>
        </div>

        <!-- Answers field -->
        <h4 class="ui horizontal divider header" *ngIf="showAnswers">
            Odgovori
        </h4>
        <div class="field" *ngIf="showAnswers">
            <div [dragula]='"answers-bag"' [dragulaModel]="answers" class="ui ordered large celled list question-answers">
                <div *ngFor="let answer of answers" class="item">
                    <div class="content"><div class="header"> {{answer.text}} </div> </div>
                </div>
            </div>
            <div class="ui action input">
                <input class="question-answer" [formControl]="answerControl">
                <button class="ui icon button add-question-answer" (click)="addAnswer($event)">
                    <i class="icon plus"></i>
                </button>
            </div>
            <button class="ui icon right floated button shuffle-answers" (click)="shuffleAnswers($event)">
                <i class="shuffle icon"></i>
            </button>

            <!-- Other answer field -->
            <div class="ui basic clearing segment" *ngIf="showOtherAnswer">
                <div class="ui checkbox">
                    <input
                            type="checkbox"  name="otherAnswer" class="question-other-answer"
                            formControlName="otherAnswer" #otherAnswerCheckbox>
                    <label> Dodati opciju 'drugo' </label>
                </div>
                <div class="field" *ngIf="otherAnswerCheckbox.checked">
                    <label> Tekst opcije: </label>
                    <input
                            type="text" name="other-answer-text"
                            class="question-other-answer-text" formControlName="otherAnswerText"
                    >
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="three ui buttons question-buttons">
            <button type="button" class="ui large grey button question-cancel" (click)="cancel($event)">
                Odustani
            </button>
            <button type="submit" class="ui large teal submit button question-save">Kreiraj</button>
        </div>
    </div>

</form>
