.ui.celled.list.question-answers .item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 30px;
}

.shuffle-answers {
    margin-top: 5px;
    margin-bottom: 5px;
}

.question-buttons {
    padding-top: 10px;
}