<div class="ui basic segment">
    <h3 class="ui dividing header">{{question.text}}{{question.type}}</h3>

    <div [ngSwitch]="question.type">
        <numeric-answer
                *ngSwitchCase="questionTypes.numeric"
                [question]="question"
                [answer]="answer"
        ></numeric-answer>
        <text-answer
                *ngSwitchCase="questionTypes.text"
                [question]="question"
                [answer]="answer"
        ></text-answer>
        <long-text-answer
                *ngSwitchCase="questionTypes.long_text"
                [question]="question"
                [answer]="answer"
        ></long-text-answer>
        <choose-one-answer
                *ngSwitchCase="questionTypes.choose_one"
                [question]="question"
                [answer]="answer"
        ></choose-one-answer>
        <choose-multiple-answer
                *ngSwitchCase="questionTypes.choose_multiple"
                [question]="question"
                [answer]="answer"
        ></choose-multiple-answer>
    </div>
</div>