<form
        [formGroup]="userFormGroup"
        (ngSubmit)="submit(userFormGroup.value)"
        class="ui form"
        [class.error]="!formValid"
>
    <div class="ui clearing segment">
        <!-- Type field -->
        <div class="field">
            <label> Tip: </label>
            <select class="ui dropdown user-type" name="type" formControlName="type">
                <option value="">Tip</option>
                <option *ngFor="let typeOption of typeOptions" [value]="typeOption.value">
                    {{typeOption.name}}
                </option>
            </select>
            <form-error *ngFor="let error of formErrors.type" [error]="error"></form-error>
        </div>

        <!-- Name field -->
        <div class="field">
            <label> Ime: </label>
            <input class="user-name" type="text" name="name" placeholder="Ime" formControlName="name">
            <form-error *ngFor="let error of formErrors.name" [error]="error"></form-error>
        </div>

        <!-- Surname field -->
        <div class="field">
            <label> Prezime: </label>
            <input class="user-surname" type="text" name="surname" placeholder="Prezime" formControlName="surname">
            <form-error *ngFor="let error of formErrors.surname" [error]="error"></form-error>
        </div>

        <!-- Username field -->
        <div class="field">
            <label> Korisničko ime: </label>
            <input class="user-username" type="text" name="username" placeholder="Korisničko ime" formControlName="username">
            <form-error *ngFor="let error of formErrors.username" [error]="error"></form-error>
        </div>

        <!-- Password field -->
        <div class="field">
            <label> Lozinka: </label>
            <input class="user-password" type="password" name="password" placeholder="Lozinka" formControlName="password">
            <form-error *ngFor="let error of formErrors.password" [error]="error"></form-error>
        </div>

        <!-- Password Confirm field -->
        <div class="field">
            <label> Potvrda lozinke: </label>
            <input class="user-password-confirm" type="password" name="password-confirm"
                   placeholder="Potvrda lozinke" formControlName="passwordConfirm">
            <form-error *ngFor="let error of formErrors.passwordConfirm" [error]="error"></form-error>
        </div>

        <!-- Birthday field -->
        <div class="field" formGroupName="birthday">
            <label> Datum rođenja: </label>
            <div class="ui left right action input">
                <input
                        type="number" min="1" max="31" step="1" maxlength="2"
                        placeholder="Dan"
                        formControlName="day"
                        name="day"
                        class="user-birthday-day"
                >
                <select class="ui dropdown user-birthday-month" name="month" formControlName="month">
                    <option *ngFor="let month of monthLabels; let i = index" [value]="i">
                        {{month}}
                    </option>
                </select>
                <input
                        type="number" maxlength="4" min="1900" [max]="currentYear"
                        placeholder="Godina"
                        formControlName="year"
                        name="year"
                        class="user-birthday-year"
                >
            </div>
            <form-error *ngFor="let error of formErrors.birthday" [error]="error"></form-error>
        </div>

        <!-- Phone field -->
        <div class="field">
            <label> Telefon: </label>
            <input class="user-phone" type="text" name="phone" placeholder="Telefon" formControlName="phone">
            <form-error *ngFor="let error of formErrors.phone" [error]="error"></form-error>
        </div>

        <!-- Email field -->
        <div class="field">
            <label> Elektronska pošta: </label>
            <input
                    class="user-email"
                    type="text"
                    name="email"
                    placeholder="Elektronska pošta"
                    formControlName="email"
            >
            <form-error *ngFor="let error of formErrors.email" [error]="error"></form-error>
        </div>

        <!-- Buttons -->
        <div class="three ui buttons">
            <button type="button" class="ui large grey button user-cancel" (click)="cancel()">
                Odustani
            </button>
            <button type="submit" class="ui large teal submit button user-save">Kreiraj</button>
        </div>
    </div>

</form>