<form
    [formGroup]="formGroup1"
    (ngSubmit)="submit(formGroup1.value)"
    class="ui large form"
    [class.error]="!formValid"
>
    <div class="field">
        <!-- Old password field -->
        <div class="field">
            <label> Trenutna lozinka: </label>
            <input class="old-password" type="password" name="old-password" [formControl]="oldPasswordControl">
            <div
                    *ngIf="oldPasswordControl.hasError('required')"
                    class="ui error message old-password-empty"
            >Unesite trenutnu lozinku.</div>
            <form-error *ngIf="wrongPasswordError" [error]="wrongPasswordError"></form-error>
        </div>

        <!-- New password field -->
        <div class="field">
            <label> Nova lozinka: </label>
            <input class="new-password" type="password" name="new-password" [formControl]="newPasswordControl">
            <div
                    *ngIf="newPasswordControl.hasError('required')"
                    class="ui error message new-password-empty"
            >Unesite novu lozinku.</div>
        </div>

        <!-- New password confirm field -->
        <div class="field">
            <label> Potvrda lozinke: </label>
            <input class="new-password-confirm" type="password" name="password-confirm" [formControl]="passwordConfirmControl">
            <div
                    *ngIf="passwordConfirmControl.hasError('required')"
                    class="ui error message confirm-password-empty"
            >Unesite potvrdu lozinke.</div>
            <div
                    *ngIf="formGroup1.hasError('passwordMismatch')"
                    class="ui error message password-mismatch"
            >Lozinka i potvrda lozinke se ne slažu.</div>
        </div>

    </div>
    <div
            *ngIf="authenticationError"
            class="ui error message old-password-wrong"
    >Unesena je pogrešna trenutna lozinka.</div>
    <!-- Buttons -->
    <div class="two ui buttons">
        <button type="button" class="ui large grey button user-cancel" (click)="cancel()">
            Odustani
        </button>
        <button type="submit" class="ui fluid large teal submit button">Promeni lozinku</button>
    </div>
</form>